.Discussion {
    background-size:contain;
}
a {
    color:#426e6c; 
    text-decoration: none;
    text-align: center;
}

a:hover {
    color:#0e8fec; 
    text-decoration:none; 
    text-align: center;
    cursor:pointer;  
}
img:hover {
    opacity: 0.5;
}